body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

#movieName-link {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px rgb(13, 13, 13);
}

#movieName-link:hover {
  text-shadow: 2px 2px 2px rgb(241, 14, 14);
}

.navbar {
  margin: 0 0 20px 0;
}
